@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --paragraph-secondary: rgb(105, 105, 105);
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.form-primary {
  background-color: rgb(242, 241, 237);
  width: 480px;
  padding: 30px;
}

.text {
  display: flex;
  flex-direction: column;
}

.form-controll__label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-controll__field {
  margin-bottom: 5px;
}

.form-controll__desc {
  color: var(--paragraph-secondary);
  margin-bottom: 10px;
}

/* jakie jednostki do ustalenia rozmiaru kontenera np. formularza */
